.searchBlock {
  display: flex;
  align-items: baseline;
  justify-content: center;
  align-self: center;
  margin-bottom: 30px;
  padding: 0 20px;
}

@media (max-width: 580px) {
  .searchBlock {
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }
}
